<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css"> 
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Best Books!</h1>
    </header>
    <main>
         <a href="/searches/new">Search for Books</a> 
        <h2>Hello World</h2>  
    </main>
    <footer>

    </footer>
</body>
</html>