*{
    box-sizing: border-box;
}
body{
   background-color: rgb(51, 50, 50);

    width:960px;
    margin: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}